
.navbar-light{
    background-color: transparent;
}
.fixed-top {
    position: fixed;
    z-index: 1030;
    right: 0;
    left: 0;
}
#result {
    font-size: larger;
    font-weight: bolder;
}

 section  input:focus {
        border: 1px solid white;
        outline: 0px solid white;
        box-shadow: 0px 1px 5px 1px rgb(223, 223, 223);
     }
  section   input:hover {
        border: 1px solid white;
      outline: 0px solid white;
      box-shadow: 0px 1px 5px 1px rgb(223, 223, 223);
      transition: padding 2s;
     }
